Find the review_text that received the highest number of  'cool' votes.
Output the business name along with the review text with the highest numbef of 'cool' votes.

In [1]:
import pandas as pd
import numpy as np

In [4]:
yelp_reviews = pd.read_csv("CSV/yelp_reviews.csv")
yelp_reviews

,business_name,review_id,user_id,stars,review_date,review_text,funny,useful,cool
0,AutohausAZ,C4TSIEcazRay0qIRPeMAFg,jlbPUcCRiXlMtarzi9sW5w,5,2011-06-27,Autohaus is my main source for parts for an ol...,1,2,1
1,Citizen Public House,ZZ0paqUsSX-VJbfodTp1cQ,EeCWSGwMAPzwe_c1Aumd1w,4,2013-03-18,First time in PHX. Friend recommended. Friendl...,0,0,0
2,Otto Pizza & Pastry,pF6W5JOPBK6kOXTB58cYrw,JG1Gd2mN2Qk7UpCqAUI-BQ,5,2013-03-14,LOVE THIS PIZZA! This is now one of my favorit...,0,0,0
3,Giant Hamburgers,QBddRcflAcXwE2qhsLVv7w,T90ybanuLhAr0_s99GDeeg,3,2009-03-27,"ok, so I tried this place out based on other r...",0,1,1
4,Tammie Coe Cakes,Y8UMm_Ng9oEpJbIygoGbZQ,MWt24-6bfv_OHLKhwMQ0Tw,3,2008-08-25,Overrated. The treats are tasty but certainly ...,1,3,2
...,...,...,...,...,...,...,...,...,...
101,Maloney's on Shea,GsKuJK_VwyMCs8CEWRvmow,Ovpa3S8xD96dLE5eDxcxJg,?,2007-02-22,"This is the ""new"" Maloney's, or atleast the ne...",0,2,1
102,China King,JrPq92qjI7yw1hik2JzwTw,uNbB1uR4EBhmygUc3IfPAw,?,2010-07-15,Looking for a real Chinese restaurant with pin...,1,2,1
103,Arriba Mexican Grill,Nagwfx92hDCamTkd7IUnYA,umFk-9qCmxsmiZw1e_vmKQ,?,2010-09-16,Great Carne Asada. Pretty rad that they have H...,0,0,0
104,Stacy's Pit Stop BBQ,0gl0HcuiebsHjTvUAYvzmA,gN03qFYysM5DbgjuV6N0QQ,?,2012-06-22,Stacy your secret spicy BBQ sauce is kinda HOT...,1,6,4
105,Lunardis,fpjKqP8ONJ9rT8209thIQQ,9itypHULqGyO42s3zNUzOQ,5,2018-06-11,This is the nicest grocery store in the city. ...,6,7,10

In [9]:
result_cool = yelp_reviews[yelp_reviews['cool'] ==yelp_reviews['cool'].max()][['business_name','review_text','cool', 'funny', 'useful']]
result_cool

,business_name,review_text,cool,funny,useful
30,Roka Akor,"I hate to admit it, but it had been a long whi...",10,5,8
105,Lunardis,This is the nicest grocery store in the city. ...,10,6,7

In [10]:
result_funny = yelp_reviews[yelp_reviews['funny'] ==yelp_reviews['funny'].max()][['business_name','review_text','funny', 'cool', 'useful']]
result_funny

,business_name,review_text,funny,cool,useful
20,Pappadeaux Seafood Kitchen,$20 for a double Maker's Mark? Me thinks not T...,13,6,6

In [11]:
result_useful= yelp_reviews[yelp_reviews['useful'] ==yelp_reviews['useful'].max()][['business_name','review_text','useful', 'cool', 'funny']]
result_funny

,business_name,review_text,funny,cool,useful
20,Pappadeaux Seafood Kitchen,$20 for a double Maker's Mark? Me thinks not T...,13,6,6