Find the number of rows for each review score earned by 'Hotel Arena'. Output the hotel name (which should be 'Hotel Arena'), review score along with the corresponding number of rows with that score for the specified hotel.

In [4]:
import pandas as pd
import numpy as np

In [5]:
hotel_reviews = pd.read_csv("CSV/hotel_reviews.csv")
hotel_reviews.head()

,hotel_address,additional_number_of_scoring,review_date,average_score,hotel_name,reviewer_nationality,negative_review,review_total_negative_word_counts,total_number_of_reviews,positive_review,review_total_positive_word_counts,total_number_of_reviews_reviewer_has_given,reviewer_score,tags,days_since_review,lat,lng
0,7 Western Gateway Royal Victoria Dock Newham L...,359,2017-07-05,8.5,Novotel London Excel,United Kingdom,coffee and tea at breakfast were not particula...,16,1158,we were allocated the newly refurbished rooms ...,34,2,10.0,"[' Leisure trip ', ' Family with young childre...",29 days,51.508,0.023
1,35 Charles Street Mayfair Westminster Borough ...,252,2015-08-29,9.1,The Chesterfield Mayfair,Israel,No Negative,0,1166,We liked everything The hotel is simply a bout...,41,8,10.0,"[' Leisure trip ', ' Couple ', ' Classic Doubl...",705 day,51.508,-0.147
2,14 Rue Stanislas 6th arr 75006 Paris France,40,2017-05-23,9.1,Hotel Le Six,United States of America,There is currently utility construction taking...,27,177,Neat boutique hotel Some of the most comfortab...,39,3,9.2,"[' Leisure trip ', ' Family with young childre...",72 days,48.844,2.328
3,Gran V a De Les Corts Catalanes 570 Eixample 0...,325,2016-08-25,8.2,Sunotel Central,United Kingdom,Coffee at breakfast could be better When you s...,22,3870,Great bed nice to have a coffee machine in the...,26,2,9.2,"[' Leisure trip ', ' Group ', ' Comfort Double...",343 day,41.384,2.162
4,Rathausstra e 17 01 Innere Stadt 1010 Vienna A...,195,2015-09-17,8.5,Austria Trend Hotel Rathauspark Wien,United Kingdom,A bit out of the way location wise,9,1884,Clean modern rooms and bathroom well equipped,9,2,7.5,"[' Leisure trip ', ' Couple ', ' Comfort Room ...",686 day,48.213,16.357

In [7]:
arena = hotel_reviews[hotel_reviews['hotel_name'] == 'Hotel Arena']
arena.head()

,hotel_address,additional_number_of_scoring,review_date,average_score,hotel_name,reviewer_nationality,negative_review,review_total_negative_word_counts,total_number_of_reviews,positive_review,review_total_positive_word_counts,total_number_of_reviews_reviewer_has_given,reviewer_score,tags,days_since_review,lat,lng
16,s Gravesandestraat 55 Oost 1092 AA Amsterdam N...,194,2016-12-27,7.7,Hotel Arena,Netherlands,Breakfast poor,4,1403,Great hotel with beautiful interior,6,17,7.5,"[' Leisure trip ', ' Couple ', ' 2 rooms ', ' ...",219 day,52.361,4.916
71,s Gravesandestraat 55 Oost 1092 AA Amsterdam N...,194,2015-12-30,7.7,Hotel Arena,United States of America,No Negative,0,1403,location and staff,4,3,9.6,"[' Leisure trip ', ' Couple ', ' Duplex Double...",582 day,52.361,4.916
72,s Gravesandestraat 55 Oost 1092 AA Amsterdam N...,194,2017-02-06,7.7,Hotel Arena,Malaysia,The place is completely mismanaged The propert...,144,1403,The property is beautiful,5,6,4.6,"[' Leisure trip ', ' Group ', ' Duplex Twin Ro...",178 day,52.361,4.916
73,s Gravesandestraat 55 Oost 1092 AA Amsterdam N...,194,2016-05-30,7.7,Hotel Arena,United Kingdom,No Negative,0,1403,breakfast,2,1,3.8,"[' Leisure trip ', ' Family with older childre...",430 day,52.361,4.916
74,s Gravesandestraat 55 Oost 1092 AA Amsterdam N...,194,2016-10-24,7.7,Hotel Arena,France,Even allowing for the hotel being under major ...,119,1403,Large bed,4,21,4.2,"[' Leisure trip ', ' Couple ', ' Large King Ro...",283 day,52.361,4.916

In [8]:
result = arena.groupby(['reviewer_score','hotel_name']).size().to_frame('n_reviews').reset_index()
result

    reviewer_score   hotel_name  n_reviews
0              3.8  Hotel Arena          1
1              4.2  Hotel Arena          1
2              4.6  Hotel Arena          1
3              5.4  Hotel Arena          1
4              5.8  Hotel Arena          2
5              6.3  Hotel Arena          1
6              7.1  Hotel Arena          1
7              7.5  Hotel Arena          2
8              8.3  Hotel Arena          2
9              8.8  Hotel Arena          2
10             9.6  Hotel Arena          2