Find the base pay for Police Captains

Find the base pay for Police Captains.
Output the employee name along with the corresponding base pay.

In [1]:
import pandas as pd
import numpy as np

In [2]:
sf_public_salaries = pd.read_csv("CSV/sf_public_salaries.csv")
sf_public_salaries.head()

,id,employeename,jobtitle,basepay,overtimepay,otherpay,benefits,totalpay,totalpaybenefits,year,notes,agency,status
0,120566,Teresa L Cavanaugh,EMT/Paramedic/Firefighter,100952.41,0.00,4254.88,34317.37,105207.29,139524.66,2014,NaN,San Francisco,PT
1,72002,Ray Torres,Public Service Trainee,1121.28,0.00,0.00,185.77,1121.28,1307.05,2012,NaN,San Francisco,NaN
2,122662,Rizaldy T Tabada,Deputy Sheriff,92403.77,138.18,2903.94,33625.27,95445.89,129071.16,2014,NaN,San Francisco,FT
3,140133,Gregory B Bovo,Firefighter,23757.50,0.00,0.00,9982.21,23757.50,33739.71,2014,NaN,San Francisco,PT
4,87502,Jason L Landivar,EMT/Paramedic/Firefighter,82115.61,666.79,5220.34,28933.91,88002.74,116936.65,2013,NaN,San Francisco,NaN

In [3]:
result = sf_public_salaries[(sf_public_salaries['jobtitle'].str.contains('CAPTAIN', case = False))
                           &(sf_public_salaries['jobtitle']
                            .str.contains('POLICE', case = False))][['employeename','basepay']]

In [4]:
result

          employeename    basepay
195   PATRICIA JACKSON   99722.00
196     TERESA BARRETT  188328.08
197         ANNA BROWN  102571.24
198  DOUGLAS MCEACHERN  194566.01
199        JOHN LOFTUS  188341.62

Solution Walkthrough
This walkthrough will explain how to use Pandas and Numpy libraries in Python to find the base pay for Police Captains and output the employee name along with the corresponding base pay.

Understanding The Data
The data used in this solution is stored in a DataFrame called sf_public_salaries. This DataFrame contains information about the salaries of public employees in San Francisco. Each row represents an employee and each column represents a different attribute, such as employee name, job title, and base pay.

The Problem Statement
The goal is to find the base pay for Police Captains from the sf_public_salaries DataFrame and output the employee name along with the corresponding base pay.

Breaking Down The Code
The given code snippet consists of one line of code that accomplishes this task. Let's break it down:

result = sf_public_salaries[
    (
        sf_public_salaries["jobtitle"].str.contains(
            "CAPTAIN", case=False
        )
    )
    & (
        sf_public_salaries["jobtitle"].str.contains(
            "POLICE", case=False
        )
    )
][["employeename", "basepay"]]
sf_public_salaries['jobtitle'].str.contains('CAPTAIN', case=False) checks if the job title contains the word 'CAPTAIN'. It returns a boolean Series, where each value is True if the condition is satisfied and False otherwise.
sf_public_salaries['jobtitle'].str.contains('POLICE', case=False) checks if the job title contains the word 'POLICE'. It also returns a boolean Series.
(sf_public_salaries['jobtitle'].str.contains('CAPTAIN', case=False)) & (sf_public_salaries['jobtitle'].str.contains('POLICE', case=False)) combines the two boolean Series using the bitwise AND operator &. This gives us a final boolean Series where each value is True if both conditions are satisfied and False otherwise.
sf_public_salaries[...] is used to filter the original DataFrame based on the boolean Series. It returns a new DataFrame containing only the rows where the boolean Series is True.
[['employeename', 'basepay']] selects only the 'employeename' and 'basepay' columns from the filtered DataFrame.
Bringing It All Together
To find the base pay for Police Captains and output the employee name along with the corresponding base pay, run the following code:

import pandas as pd
import numpy as np

result = sf_public_salaries[
    (
        sf_public_salaries["jobtitle"].str.contains(
            "CAPTAIN", case=False
        )
    )
    & (
        sf_public_salaries["jobtitle"].str.contains(
            "POLICE", case=False
        )
    )
][["employeename", "basepay"]]
This will give you a DataFrame (result) containing the employee names and the corresponding base pay for Police Captains.

Conclusion
The solution code uses Pandas and Numpy libraries to find the base pay for Police Captains and output the employee name along with the corresponding base pay. It does so by filtering the sf_public_salaries DataFrame based on the job title criteria, and then selecting the desired columns.