Churro Activity Date

Find the activity date and the pe_description of facilities with the name 'STREET CHURROS' and with a score of less than 95 points.

In [1]:
import pandas as pd
import numpy as np

In [3]:
los_angeles_restaurant_health_inspections = pd.read_csv("CSV/los_angeles_restaurant_health_inspections.csv")
los_angeles_restaurant_health_inspections.head(3)

,serial_number,activity_date,facility_name,score,grade,service_code,service_description,employee_id,facility_address,facility_city,facility_id,facility_state,facility_zip,owner_id,owner_name,pe_description,program_element_pe,program_name,program_status,record_id
0,DAQHRSETQ,2017-06-08,MARGARITAS CAFE,93,A,1,ROUTINE INSPECTION,EE0000006,5026 S CRENSHAW BLVD,LOS ANGELES,FA0023656,CA,90043,OW0004133,"BAZAN, ASCENCION",RESTAURANT (61-150) SEATS HIGH RISK,1638,MARGARITAS CAFE,ACTIVE,PR0011718
1,DA2GQRJOS,2017-03-07,LAS MOLENDERAS,97,A,1,ROUTINE INSPECTION,EE0000997,2635 WHITTIER BLVD,LOS ANGELES,FA0160416,CA,90023,OW0125379,MARISOL FEREGRINO,RESTAURANT (0-30) SEATS HIGH RISK,1632,LAS MOLENDERAS,INACTIVE,PR0148504
2,DAMQTA46T,2016-03-22,SANDRA'S TAMALES,93,A,1,ROUTINE INSPECTION,EE0001049,5390 WHITTIER BLVD,LOS ANGELES,FA0171769,CA,90022-4032,OW0178828,SANDRA'S TAMALES INC.,RESTAURANT (0-30) SEATS MODERATE RISK,1631,SANDRA'S TAMALES,ACTIVE,PR0164225

In [5]:

result = los_angeles_restaurant_health_inspections[(los_angeles_restaurant_health_inspections['facility_name']=='STREET CHURROS') & (los_angeles_restaurant_health_inspections['score'] < 95)][['activity_date','pe_description']]
result

    activity_date                    pe_description
161    2017-12-29  RESTAURANT (0-30) SEATS LOW RISK
162    2016-12-01  RESTAURANT (0-30) SEATS LOW RISK
163    2016-06-16  RESTAURANT (0-30) SEATS LOW RISK

In [6]:
result['activity_date'] =  pd.to_datetime(result['activity_date'], format='%Y-%m-%d' ).dt.strftime('%Y-%m-%d')
result

    activity_date                    pe_description
161    2017-12-29  RESTAURANT (0-30) SEATS LOW RISK
162    2016-12-01  RESTAURANT (0-30) SEATS LOW RISK
163    2016-06-16  RESTAURANT (0-30) SEATS LOW RISK

Solution Walkthrough
In this walkthrough, we will go through the code that finds the activity date and pe_description of facilities with the name 'STREET CHURROS' and with a score of less than 95 points. We will break down each step of the code and explain its functionality.

Understanding The Data
Before we begin, let's understand the data that we are working with. The code is using a dataframe called los_angeles_restaurant_health_inspections which presumably contains information about restaurant health inspections in Los Angeles. We will assume that this dataframe has columns such as 'facility_name', 'score', 'activity_date', and 'pe_description'.

The Problem Statement
The goal of the code is to find the activity date and pe_description of facilities that meet two conditions:

The facility name is 'STREET CHURROS'.
The score is less than 95 points.
We want to extract this information from the dataset and store it in a new dataframe.

Breaking Down The Code
Let's break down the code and understand what each line does:

import pandas as pd and import numpy as np: These lines import the pandas and numpy libraries, which are commonly used for data manipulation and analysis in Python.

result = los_angeles_restaurant_health_inspections[(los_angeles_restaurant_health_inspections['facility_name']=='STREET CHURROS') & (los_angeles_restaurant_health_inspections['score'] < 95)]: This line filters the los_angeles_restaurant_health_inspections dataframe based on two conditions using logical operators. It selects rows where the facility name is 'STREET CHURROS' and the score is less than 95.

result[['activity_date','pe_description']]: This line selects only the 'activity_date' and 'pe_description' columns from the filtered dataframe and create a new dataframe called result.

result['activity_date'] = pd.to_datetime(result['activity_date'], format='%Y-%m-%d' ).dt.strftime('%Y-%m-%d'): This line converts the 'activity_date' column to a datetime format, using the to_datetime function from pandas. It then formats the date to a specific string format using the dt.strftime function.

result: This line simply outputs the result dataframe.

Bringing It All Together
To summarize, the code first filters the los_angeles_restaurant_health_inspections dataframe based on two conditions: the facility name is 'STREET CHURROS' and the score is less than 95. It then selects only the 'activity_date' and 'pe_description' columns and converts the 'activity_date' column to a specific date format. Finally, it outputs the resulting dataframe.

Conclusion
In this walkthrough, we examined the code that finds the activity date and pe_description of facilities with the name 'STREET CHURROS' and with a score of less than 95 points. This code demonstrates how to filter and manipulate data using pandas in Python.