Number Of Bathrooms And Bedrooms

Find the average number of bathrooms and bedrooms for each city’s property types. 

Output the result along with the city name and the property type.

In [1]:
import pandas as pd
import numpy as np

In [2]:
airbnb_search_details = pd.read_csv("CSV/airbnb_search_details.csv")
airbnb_search_details.head(3)

,id,price,property_type,room_type,amenities,accommodates,bathrooms,bed_type,cancellation_policy,cleaning_fee,city,host_identity_verified,host_response_rate,host_since,neighbourhood,number_of_reviews,review_scores_rating,zipcode,bedrooms,beds
0,12513361,555.68,Apartment,Entire home/apt,"{TV,""Wireless Internet"",""Air conditioning"",""Sm...",2,1,Real Bed,flexible,False,NYC,t,89 %,2015-11-18,East Harlem,3,87.0,10029,0,1
1,7196412,366.36,Cabin,Private room,"{""Wireless Internet"",Kitchen,Washer,Dryer,""Smo...",2,3,Real Bed,moderate,False,LA,f,100 %,2016-09-10,Valley Glen,14,91.0,91606,1,1
2,16333776,482.83,House,Private room,"{TV,""Cable TV"",Internet,""Wireless Internet"",Ki...",2,1,Real Bed,strict,True,SF,t,100 %,2013-12-26,Richmond District,117,96.0,94118,1,1

In [5]:
result = airbnb_search_details.groupby(['city',
                                        'property_type'])[['bedrooms',
                                                           'bathrooms']].mean().reset_index().rename(index=str, 
                                        columns={"bedrooms": "n_bedrooms_avg", "bathrooms": "n_bathrooms_avg"})

In [6]:
result

       city property_type  n_bedrooms_avg  n_bathrooms_avg
0    Boston     Apartment        1.000000         1.000000
1    Boston   Condominium        2.000000         2.000000
2    Boston         House        1.000000         1.000000
3   Chicago     Apartment        2.000000         2.000000
4   Chicago   Condominium        2.000000         2.000000
5   Chicago         House        3.000000         2.000000
6        DC         House        1.000000         1.000000
7        LA     Apartment        1.142857         1.142857
8        LA      Bungalow        0.000000         1.000000
9        LA         Cabin        1.000000         3.000000
10       LA   Condominium        1.500000         1.500000
11       LA         House        1.558824         1.500000
12       LA          Loft        0.000000         1.000000
13       LA         Other        1.000000         1.000000
14       LA     Townhouse        3.000000         2.000000
15       LA         Villa        2.533333         2.066667
16      NYC     Apartment        1.250000         1.116667
17      NYC   Condominium        1.333333         1.000000
18      NYC         House        1.800000         1.400000
19      NYC          Loft        0.500000         1.000000
20      NYC     Townhouse        0.000000         1.000000
21       SF     Apartment        2.000000         1.000000
22       SF         House        1.800000         1.400000

Solution Walkthrough
This walkthrough will explain how to find the average number of bathrooms and bedrooms for each city's property types using the pandas and numpy libraries in Python. The given code snippet utilizes the pandas groupby function to group data by 'city' and 'property_type' columns, and calculates the mean of 'bedrooms' and 'bathrooms' for each group. The resulting data is then reset and renamed to 'n_bedrooms_avg' and 'n_bathrooms_avg' before being stored in the 'result' variable.

Understanding The Data
The code assumes you have a dataframe named 'airbnb_search_details' which contains information about Airbnb listings. The dataframe should include columns such as 'city', 'property_type', 'bedrooms', and 'bathrooms'. Each row represents a specific listing with corresponding values for each of these columns.

The Problem Statement
The task is to find the average number of bathrooms and bedrooms for each city's property types. The output should include the city name, property type, and the average number of bathrooms and bedrooms.

Breaking Down The Code
Let's break down the given code snippet step by step:

The first two lines import the necessary libraries pandas and numpy. These libraries are commonly used in data analysis and manipulation tasks.

The next line of code starts by utilizing the groupby function on the 'airbnb_search_details' dataframe. It groups the data by the columns 'city' and 'property_type'.

The square bracket notation ['bedrooms','bathrooms'] specifies the columns of interest for the calculation. We want to find the average of 'bedrooms' and 'bathrooms'.

The mean function is then applied to the selected columns for each group. This calculates the average number of bedrooms and bathrooms for each city's property types.

The reset_index function is used to reset the index of the resulting dataframe. This is necessary because the groupby operation creates a multi-level index, and we want a simple integer index.

Finally, the rename function is used to change the column names from 'bedrooms' and 'bathrooms' to 'n_bedrooms_avg' and 'n_bathrooms_avg', respectively.

Bringing It All Together
The complete code snippet:

import pandas as pd
import numpy as np

result = (
    airbnb_search_details.groupby(["city", "property_type"])[
        "bedrooms", "bathrooms"
    ]
    .mean()
    .reset_index()
    .rename(
        index=str,
        columns={
            "bedrooms": "n_bedrooms_avg",
            "bathrooms": "n_bathrooms_avg",
        },
    )
)
This code imports the necessary libraries, performs the groupby and mean calculations, resets the index, and renames the columns. The resulting dataframe is stored in the 'result' variable.

Conclusion
The provided code snippet demonstrates how to find the average number of bathrooms and bedrooms for each city's property types using pandas and numpy in Python. By grouping the data based on 'city' and 'property_type' columns, and calculating the mean of 'bedrooms' and 'bathrooms' for each group, we obtain the desired information. The resulting dataframe includes the city name, property type, and the average number of bathrooms and bedrooms.