Highest Energy Consumption

Find the date with the highest total energy consumption from the Meta/Facebook data centers. Output the date along with the total energy consumption across all data centers.

In [1]:
import pandas as pd
import numpy as np

In [3]:
fb_eu_energy = pd.read_csv("../CSV/fb_eu_energy.csv")
fb_eu_energy = fb_eu_energy.iloc[:, :2]
fb_eu_energy

         date  consumption
0  2020-01-01          400
1  2020-01-02          350
2  2020-01-03          500
3  2020-01-04          500
4  2020-01-07          600

In [5]:
fb_asia_energy = pd.read_csv("../CSV/fb_asia_energy.csv")
fb_asia_energy = fb_asia_energy.iloc[:, :2]
fb_asia_energy

         date  consumption
0  2020-01-01          400
1  2020-01-02          400
2  2020-01-04          675
3  2020-01-05         1200
4  2020-01-06          750
5  2020-01-07          400

In [7]:
fb_na_energy =pd.read_csv("../CSV/fb_na_energy.csv")
fb_na_energy = fb_na_energy.iloc[:, :2]
fb_na_energy

         date  consumption
0  2020-01-01          250
1  2020-01-02          375
2  2020-01-03          600
3  2020-01-06          500
4  2020-01-07          250

In [8]:
df = pd.concat([fb_eu_energy,fb_asia_energy,fb_na_energy])
df

         date  consumption
0  2020-01-01          400
1  2020-01-02          350
2  2020-01-03          500
3  2020-01-04          500
4  2020-01-07          600
0  2020-01-01          400
1  2020-01-02          400
2  2020-01-04          675
3  2020-01-05         1200
4  2020-01-06          750
5  2020-01-07          400
0  2020-01-01          250
1  2020-01-02          375
2  2020-01-03          600
3  2020-01-06          500
4  2020-01-07          250

In [11]:
consumption = df.groupby('date', as_index=False).sum()
consumption

# Параметр as_index=False указывает, что столбец 'date' 
# не должен быть установлен в качестве индекса в результирующем DataFrame.

         date  consumption
0  2020-01-01         1050
1  2020-01-02         1125
2  2020-01-03         1100
3  2020-01-04         1175
4  2020-01-05         1200
5  2020-01-06         1250
6  2020-01-07         1250

In [13]:
consumption[consumption.consumption==consumption.consumption.max()][['date','consumption']]
# consumption[consumption['consumption'] == consumption['consumption'].max()][['date','consumption']]

         date  consumption
5  2020-01-06         1250
6  2020-01-07         1250

Solution Walkthrough
This solution walkthrough will explain the code that imports the necessary libraries (pandas and numpy), concatenates the data from multiple dataframes, groups the data by date, and finds the date with the highest total energy consumption.

Understanding The Data
The data consists of multiple dataframes, each containing information about energy consumption in different regions. Each dataframe has two columns: 'date' and 'consumption'. The 'date' column contains dates in a specific format, and the 'consumption' column contains numeric values representing energy consumption on those dates.

The Problem Statement
The task is to find the date with the highest total energy consumption across all data centers. This involves concatenating the data from multiple dataframes, grouping the data by date, and then finding the date with the maximum total energy consumption.

Breaking Down The Code
The first step is to import the necessary libraries - pandas and numpy. This is done with the following code:

import pandas as pd
import numpy as np
Next, the code concatenates the data from the multiple dataframes. This is done using the concat() function from the pandas library. The code is as follows:

df = pd.concat([fb_eu_energy, fb_asia_energy, fb_na_energy])
After concatenating the data, the code then groups the data by date and calculates the sum of energy consumption for each date. This is done using the groupby() and sum() functions from the pandas library. The code is as follows:

consumption = df.groupby("date", as_index=False).sum()
Finally, the code selects the row with the maximum energy consumption by filtering the 'consumption' column for the maximum value, and then selects the 'date' and 'consumption' columns. This is done using boolean indexing in combination with the max() function. The code is as follows:

consumption[
    consumption["consumption"] == consumption["consumption"].max()
][["date", "consumption"]]
Bringing It All Together
To find the date with the highest total energy consumption from the Meta/Facebook data centers, the code performs the following steps:

Import the necessary libraries - pandas and numpy.
Concatenate the data from the multiple dataframes.
Group the data by date and calculate the sum of energy consumption for each date.
Select the row with the maximum energy consumption and extract the 'date' and 'consumption' columns.
Conclusion
The code successfully finds the date with the highest total energy consumption from the Meta/Facebook data centers by concatenating the data, grouping it by date, and selecting the row with the maximum energy consumption.