Find all wineries which produce wines by possessing aromas of plum, cherry, rose, or hazelnut

Find all wineries which produce wines by possessing aromas of plum, cherry, rose, or hazelnut. To make it more simple, look only for singular form of the mentioned aromas. HINT: if one of the specified words is just a substring of another word, this should not be a hit, but a miss.


Example Description: Hot, tannic and simple, with cherry jam and currant flavors accompanied by high, tart acidity and chile-pepper alcohol heat.
Therefore the winery Bella Piazza is expected in the results.

In [1]:
import pandas as pd

In [3]:
winemag_p1 = pd.read_excel("../CSV/winemag_p1.xlsx")
winemag_p1.head(3)

,Tаблица 1,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10
0,id,country,description,designation,points,price,province,region_1,region_2,variety,winery
1,126576,US,"Rich and round, this offers plenty of concentr...",Estate Club,87,32,Virginia,Virginia,NaN,Merlot,Veramar
2,127077,Italy,This luminous sparkler offers measured aromas ...,Extra Dry,85,19,Veneto,Prosecco di Valdobbiadene,NaN,Prosecco,Varaschin

In [4]:
row_1 = winemag_p1.iloc[:1]
row_1

,Tаблица 1,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10
0,id,country,description,designation,points,price,province,region_1,region_2,variety,winery

In [6]:
dic = {}
for i, j in row_1.items():
    dic[i] = j.values[0]
dic

{'Tаблица 1': 'id',
 'Unnamed: 1': 'country',
 'Unnamed: 2': 'description',
 'Unnamed: 3': 'designation',
 'Unnamed: 4': 'points',
 'Unnamed: 5': 'price',
 'Unnamed: 6': 'province',
 'Unnamed: 7': 'region_1',
 'Unnamed: 8': 'region_2',
 'Unnamed: 9': 'variety',
 'Unnamed: 10': 'winery'}

In [7]:
winemag_p1.rename(columns=dic, inplace=True)
winemag_p1.head(2)

,id,country,description,designation,points,price,province,region_1,region_2,variety,winery
0,id,country,description,designation,points,price,province,region_1,region_2,variety,winery
1,126576,US,"Rich and round, this offers plenty of concentr...",Estate Club,87,32,Virginia,Virginia,NaN,Merlot,Veramar

In [8]:
winemag_p1.drop(0, inplace=True)
winemag_p1.head(3)

,id,country,description,designation,points,price,province,region_1,region_2,variety,winery
1,126576,US,"Rich and round, this offers plenty of concentr...",Estate Club,87,32,Virginia,Virginia,NaN,Merlot,Veramar
2,127077,Italy,This luminous sparkler offers measured aromas ...,Extra Dry,85,19,Veneto,Prosecco di Valdobbiadene,NaN,Prosecco,Varaschin
3,143029,US,"There are some pretty features to this wine, n...",Signature,83,45,California,Paso Robles,Central Coast,Cabernet Sauvignon,Byington

In [9]:
result = winemag_p1[winemag_p1['description'].
                    str.lower().str.contains('\\bplum\\b|\\bcherry\\b|\\brose\\b|\\bhazelnut\\b')
                    ][['winery']].drop_duplicates()
result

                        winery
4            Boudreaux Cellars
8                    Goldeneye
10                  Pine Ridge
15                      Hopler
16                Bella Piazza
20                    Dashwood
21            Comtesse Therese
22                   Caligiore
24                    Sullivan
26                 La Mannella
27                     Wolffer
29             Niebaum-Coppola
31                  Martin Ray
32  Bodega Noemaa de Patagonia
34                 Il Poggione
37                 Geyser Peak
39               C. Donatiello
44                      Roagna
55                  La Capilla
62     Grandes Vinos y Vinedos
63             Terra Valentine
64         Les Belles Collines
81             Mannina Cellars
84                     Valiano
86                    Camlibag
88             Catalina Sounds
89            Vinaria din Vale
97           Bodegas La Guarda
99               Bodega Norton

In [10]:
result.info()

<class 'pandas.core.frame.DataFrame'>
Index: 29 entries, 4 to 99
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   winery  29 non-null     object
dtypes: object(1)
memory usage: 464.0+ bytes

In [11]:
result.describe()

                   winery
count                  29
unique                 29
top     Boudreaux Cellars
freq                    1

Давайте разберем этот код по шагам:

winemag_p1['description']: Этот фрагмент извлекает столбец 'description' из DataFrame winemag_p1. Вероятно, этот столбец содержит описания вин.

.str.lower(): Этот метод применяет функцию lower() ко всем строковым значениям в столбце 'description', чтобы преобразовать текст в нижний регистр. Это делается для того, чтобы обеспечить регистронезависимый поиск.

.str.contains('\\bplum\\b|\\bcherry\\b|\\brose\\b|\\bhazelnut\\b'): Этот метод ищет вхождения текста в столбце 'description', которые содержат слова "plum", "cherry", "rose" или "hazelnut". Обратите внимание, что \\b используется для обозначения границ слова, чтобы избежать частичных совпадений.

winemag_p1[...]: Этот фрагмент фильтрует DataFrame winemag_p1, оставляя только те строки, где условие из предыдущего шага равно True. То есть в результате будут только те строки, в которых описание содержит одно из указанных слов.

[['winery']]: Этот фрагмент извлекает столбец 'winery' из отфильтрованного DataFrame.

.drop_duplicates(): Этот метод удаляет дубликаты из результата, оставляя только уникальные значения в столбце 'winery'.

Таким образом, результатом этого кода будет DataFrame, содержащий уникальные названия винодельний ('winery'), чьи описания включают слова "plum", "cherry", "rose" или "hazelnut".

*********************************************************************************************************************

Solution Walkthrough
This walkthrough will explain how to find all wineries that produce wines with aromas of plum, cherry, rose, or hazelnut. The solution involves using the pandas library in Python to filter the data based on the specified aromas. The code snippet provided will return a DataFrame containing the wineries that match the criteria.

Understanding The Data
The data in question is stored in a pandas DataFrame called winemag_p1. This DataFrame contains information about wines, including the winery, description, and other attributes. The winery column stores the names of the wineries.

The Problem Statement
The problem at hand is to find all wineries that produce wines with aromas of plum, cherry, rose, or hazelnut. It is important to note that only the singular form of these aromas should be considered. Additionally, if one of the specified words is a substring of another word, it should not be considered a match.

Breaking Down The Code
Let's break down the provided code snippet and understand what each part does:

result = winemag_p1[
    winemag_p1["description"]
    .str.lower()
    .str.contains("\\bplum\\b|\\bcherry\\b|\\brose\\b|\\bhazelnut\\b")
][["winery"]].drop_duplicates()
winemag_p1['description'].str.lower().str.contains(...): This part filters the DataFrame based on the descriptions. It converts the description column values to lowercase and checks if they contain any of the specified aromas (in singular form) using regular expressions.
[['winery']]: This part selects only the winery column from the filtered DataFrame, resulting in a DataFrame with only the winery names.
.drop_duplicates(): This part removes any duplicate winery names from the DataFrame.
Bringing It All Together
The complete code snippet is as follows:

result = winemag_p1[
    winemag_p1["description"]
    .str.lower()
    .str.contains("\\bplum\\b|\\bcherry\\b|\\brose\\b|\\bhazelnut\\b")
][["winery"]].drop_duplicates()
This code filters the winemag_p1 DataFrame based on the specified aromas in the descriptions, selects only the winery column, and removes any duplicate winery names. The resulting DataFrame, result, contains the wineries that produce wines with the desired aromas.

Conclusion
In conclusion, the provided code snippet filters the winemag_p1 DataFrame to find wineries that produce wines with aromas of plum, cherry, rose, or hazelnut. It uses regular expressions to match the aromas in the descriptions and returns a DataFrame with the winery names.